<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">
            <div class="btn-group" role="group" aria-label="...">
              <button type="button" class="btn btn-default">Open</button>
              <button type="button" class="btn btn-default">Closed</button>
              <button type="button" class="btn btn-default">Yours</button>
            </div>
            <a class="btn btn-success pull-right" href="/bugs/bugs-create"><span class="fa fa-plus"></span> Create Issue</a>
          </div>
          <div class="panel-body">
            <div class="col-xs-12 col-sm-5 hidden-xs">Title</div>
            <div class="clearfix visible-xs-block"></div>
            <div class="col-xs-4 col-sm-2">Priority</div>
            <div class="col-xs-4 col-sm-2">Status</div>
            <div class="hidden-xs col-sm-2">Assigned To</div>
            <div class="col-xs-4 col-sm-1">Comments</div>
          </div>
          <!-- List group -->
          <div class="list-group">
            {{#each data}}
            <a href="/bugs/bugs-detail/{{this.Id}}" class="list-group-item">
              <div class="list-group-item-text">
                <div class="col-xs-12 col-sm-5">
                  <p>
                    <strong class="bugs-title">{{this.Summary}}</strong><br>
                    <span class="small text-muted">#{{this.Id}} updated {{moment this.LastModifiedDate "fromNow"}}</span>
                  </p>
                </div>
                <div class="clearfix visible-xs-block"></div>
                <div class="col-xs-5 col-sm-2 text-muted"><span class="label label-success label-{{this.Priority}}">&nbsp;</span>&nbsp;&nbsp;{{filter this.Priority "uppercase"}}</div>
                <div class="col-xs-4 col-sm-2 text-muted">{{filter this.IssueStatus "uppercase"}}</div>
                <div class="hidden-xs col-sm-2 text-muted">{{this.AssignedTo}}</div>
                <div class="col-xs-3 col-sm-1 text-muted">{{#if this.numComments}}<span class="fa fa-comment-o">&nbsp;</span>{{this.numComments}}{{/if}}</div>
              </div>
              <div class="clearfix"></div>
            </a>
            {{/each}}
          </div>
          <div class="panel-footer">
            <div
                class="jplist-pagination"
                data-control-type="pagination"
                data-control-name="paging"
                data-control-action="paging">
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
