<div class="container">
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/bugs">bugs</a></li>
    <li class="active">#{{data.Id}} Detail view</li>
  </ol>
  <div class="row">
    <div class="col-xs-12 ">
        <button class="btn btn-default settings bugs-info show"><span class="fa fa-pencil"></span> Edit</button>&nbsp;
    </div>
    <div class="bugs-info show">
      <div class="col-xs-12 col-sm-8">
        <h3>{{data.Summary}}</h3>
        <p class="small text-muted">#{{data.Id}} updated by {{data.LastModifiedBy}} {{moment data.LastModifiedDate "fromNow"}}, created by {{data.CreatedBy}} {{moment data.CreatedDate "fromNow"}}.</p>
        <hr>
      </div>
      <div class="clearfix"></div>
      <div class="col-xs-12 col-sm-8">
        {{#markdown data.Description}}
        {{/markdown}}
        <br>
      </div>
      <div class="col-xs-12 col-sm-3">
        <div class="form-group">
          <p><strong>Priority</strong></p>
          <span class="label label-success label-{{data.Priority}}">&nbsp;</span>&nbsp;&nbsp;{{filter data.Priority "uppercase"}}
          <hr>
          <p><strong>Status</strong></p>
          {{filter data.IssueStatus "uppercase"}}
          <hr>
          <p><strong>Severity</strong></p>
          {{filter data.Severity "uppercase"}}
          <hr>
          <p><strong>Assigned to</strong></p>
          {{data.AssignedTo}}
        </div>
      </div>
    </div>
    <div class="bugs-info hidden">
      <form id="storyForm" class="form-horizontal" method="post" action="/bugs/issue/{{data.Id}}">
        <div class="col-xs-12 col-sm-8">
          <input class="form-control bugs-title" name="summary" type="text" placeholder="Title" value="{{data.Summary}}" autofocus />
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-12 col-sm-8">
          <textarea id="bugsDetail" name="content" data-provide="markdown" data-iconlibrary="fa" data-hidden-buttons='["cmdImage","cmdQuote"]' placeholder="Describe the issue" rows="10">{{data.Description}}</textarea>
          <br>
        </div>
        <div class="col-xs-12 col-sm-3">
          <div class="form-group">
            <label class="control-label">Priority</label>
            <select name="priority" class="form-control" title="Priority">
              <option value="LOW" {{#if_equals data.Priority "LOW" }}selected{{/if_equals}}>Low</option>
              <option value="MEDIUM" {{#if_equals data.Priority "MEDIUM" }}selected{{/if_equals}}>Medium</option>
              <option value="HIGH" {{#if_equals data.Priority "HIGH" }}selected{{/if_equals}}>High</option>
              <option value="URGENT" {{#if_equals data.Priority "URGENT" }}selected{{/if_equals}}>Urgent</option>
            </select>

            <label class="control-label">Status</label>
            <select name="status" class="form-control" title="Status">
              <option value="NEW" {{#if_equals data.IssueStatus "NEW" }}selected{{/if_equals}}>New</option>
              <option value="ASSIGN" {{#if_equals data.IssueStatus "ASSIGN" }}selected{{/if_equals}}>Assign</option>
              <option value="OPEN" {{#if_equals data.IssueStatus "OPEN" }}selected{{/if_equals}}>Open</option>
              <option value="TEST" {{#if_equals data.IssueStatus "TEST" }}selected{{/if_equals}}>Test</option>
              <option value="VERIFIED" {{#if_equals data.IssueStatus "VERIFIED" }}selected{{/if_equals}}>Verified</option>
              <option value="CLOSED" {{#if_equals data.IssueStatus "CLOSED" }}selected{{/if_equals}}>Closed</option>
              <option value="REOPENED" {{#if_equals data.IssueStatus "REOPENED" }}selected{{/if_equals}}>Reopened</option>
              <option value="REJECTED" {{#if_equals data.IssueStatus "REJECTED" }}selected{{/if_equals}}>Rejected</option>
              <option value="DEFERRED" {{#if_equals data.IssueStatus "DEFERRED" }}selected{{/if_equals}}>Deferred</option>
            </select>

            <label class="control-label">Severity</label>
            <select name="severity" class="form-control" title="story_status">
              <option value="LOW" {{#if_equals data.Severity "LOW" }}selected{{/if_equals}}>Low</option>
              <option value="MODERATE" {{#if_equals data.Severity "MODERATE" }}selected{{/if_equals}}>Moderate</option>
              <option value="MAJOR" {{#if_equals data.Severity "MAJOR" }}selected{{/if_equals}}>Major</option>
              <option value="CRITICAL" {{#if_equals data.Severity "CRITICAL" }}selected{{/if_equals}}>Critical</option>
            </select>

            <label class="control-label">Assigned to</label>
            <select name="assignedTo" class="form-control" title="assignedTo">
              <option value="">Unassigned</option>
              {{#each users}}
              <option value="{{this.username}}" {{#if_equals ../data.AssignedTo this.username}}selected{{/if_equals}}>{{this.username}}</option>
              {{/each}}
            </select>
          </div>
        </div>
        <div class="col-xs-12 col-sm-8">
          <button type="submit" name="save" class="btn btn-success pull-right">Update Issue</button>

      </form>
      <form id="issueArchive" class="form-horizontal" method="post" action="/bugs/issue/{{data.Id}}/archive">
        <button id="archive" name="archive" class="btn btn-danger">Archive Issue</button>
      </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 ">
      <h3>Attached Screenshots</h3>
      <table class="table table-condensed">
          <tbody>
          {{#each images}}
              <tr>
                  <td><a href="#" class="pop"><img src="{{this.ImageFilePath}}" height="90" width="120" id="imageresource"></a></td>
              </tr>
          {{/each}}
          </tbody>
      </table>

      <!-- Displays the screenshot in a modal -->
      <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
           aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  </div>
                  <div class="modal-body">
                      <img src="" id="imagepreview" style="width: 400px; height: 264px;">
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
              </div>
          </div>
      </div>

      <h3>Upload an Image</h3>
      <form action="/bugs/upload" method="POST" enctype="multipart/form-data" onsubmit="return Validate(this);">
          Select an image to upload:
          <input type="file" name="image">
          <input type="submit" value="Upload Image" disabled>
          <input type="hidden" name="id" value="{{ data.Id}} ">
      </form>
    </div>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-sm-12">
              <h3>Comments</h3>
          </div>
      </div>
      {{#each comments}}
          <div class="row">
              <div class="col-sm-1">
                  <div class="thumbnail">
                      <img class="img-responsive user-photo"
                           src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                  </div>
              </div>

              <div class="col-sm-5">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <strong>{{this.CreatedBy}}</strong> <span class="text-muted">updated {{moment this.CreatedDate "fromNow"}}</span>
                      </div>
                      <div class="panel-body">
                          {{this.Comment}}
                      </div>
                  </div>
              </div>
          </div>
      {{/each}}

      <div class="row">
          <form id="comment" class="form-horizontal" method="post"
                action="/bugs/issue/{{data.Id}}/comment">
              <fieldset>
                  <!-- Comment Textarea -->
                  <div class="form-group">
                      <div class="col-md-5 col-md-offset-1">
                          <textarea class="form-control" id="Comment" name="Comment"></textarea>
                      </div>
                  </div>

                  <!-- Save Button -->
                  <div class="form-group">
                      <label class="control-label" for="comment"></label>
                      <div class="col-md-5 col-md-offset-1">
                          <button id="comment" name="comment" class="btn btn-primary">Add Comment</button>
                      </div>
                  </div>
              </fieldset>
          </form>
      </div>
  </div>
</div>
<script>
$("#bugsDetail").markdown({
  autofocus:false,
  savable:false,
  fullscreen:false
});
</script>

<script>
$(function () {
  $('.settings').click(function (event) {
    $('.bugs-info').toggleClass('hidden show');
  });
});

</script>
