<div class="container">
    <div class="row">
        <div class="panel panel-primary filterable">
            <div class="panel-heading">
                <h3 class="panel-title">Open Issues</h3>
                <div class="pull-right">
                    <button class="btn btn-default btn-xs btn-filter"><span class="fa fa-filter"></span></button>
                </div>
            </div>
            <table class="table table-condensed">
                <thead>
                <tr class="filters">
                    <th><input type="text" class="form-control" placeholder="Issue #" disabled></th>
                    <th><input type="text" class="form-control" placeholder="Summary" disabled></th>
                    <th><input type="text" class="form-control" placeholder="Status" disabled></th>
                    <th><input type="text" class="form-control" placeholder="Priority" disabled></th>
                    <th><input type="text" class="form-control" placeholder="Severity" disabled></th>
                    <th><input type="text" class="form-control" placeholder="Description" disabled></th>
                    <th><input type="text" class="form-control" placeholder="Created By" disabled></th>
                    <th><input type="text" class="form-control" placeholder="Last Modified By" disabled style="width: 150px"></th>
                </tr>
                </thead>
                <tbody>
                {{#each data}}
                    <tr>
                        <td>{{this.Id}}</td>
                        <td><a href="/issue-detail/{{this.Id}}">{{this.Summary}}</a></td>
                        <td>{{this.IssueStatus}}</td>
                        <td>{{this.Priority}}</td>
                        <td>{{this.Severity}}</td>
                        <td>{{this.Description}}</td>
                        <td>{{this.CreatedBy}}</td>
                        <td>{{this.LastModifiedBy}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <a class="btn btn-success" href="/issue-create">Create an Issue</a>
    </div>
</div>




