<head>
    <link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
</head>
<div class="container" id="issueTabContainer">
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/issues/issue-log">Bugs</a></li>
  <li class="active">#{{data.Id}} {{data.Summary}}</li>
</ol>
    <ul class="nav nav-pills" id="tabs">
        <li class="active">
            <a href="#1a" data-toggle="tab">Issue Detail</a>
        </li>
        <li>
            <a href="#1b" data-toggle="tab">Screenshots</a>
        </li>
        <li>
            <a href="#1c" data-toggle="tab">Comments</a>
        </li>
    </ul>
    <div class="tab-content clearfix">
        <div class="tab-pane active" id="1a">

            <h3>Issue # {{ data.Id}}</h3>
            <form id="issueForm" class="form-horizontal" method="post" action="/issues/issue-save/{{ data.Id }}">

                <fieldset>
                    <!-- Summary Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="summary">Summary</label>
                        <div class="col-md-4">
                            <input type="text" value="{{ data.Summary }}" id="summary" name="summary"
                                   placeholder="Application Crash on saving of creating a new user"
                                   class="form-control input-md" required/>
                        </div>
                    </div>

                    <!-- Status Drop Down -->
                    <div class="form-group">
                        <label class="col-md-4 control-label">Status</label>
                        <div class="col-md-4">
                            <select name="status" class="form-control" title="status">
                                <option value="New" {{#if_equals data.IssueStatus "New" }}selected{{/if_equals}}>New
                                </option>
                                <option value="Assigned"
                                        {{#if_equals data.IssueStatus "Assigned" }}selected{{/if_equals}}>Assigned
                                </option>
                                <option value="In Progress"
                                        {{#if_equals data.IssueStatus "In Progress" }}selected{{/if_equals}}>In Progress
                                </option>
                                <option value="Deployment"
                                        {{#if_equals data.IssueStatus "Deployment" }}selected{{/if_equals}}>Deployment
                                </option>
                                <option value="Testing" {{#if_equals data.IssueStatus "Testing" }}selected{{/if_equals}}>
                                    Testing
                                </option>
                                <option value="Resolved"
                                        {{#if_equals data.IssueStatus "Resolved" }}selected{{/if_equals}}>Resolved
                                </option>
                                <option value="Closed" {{#if_equals data.IssueStatus "Closed" }}selected{{/if_equals}}>
                                    Closed
                                </option>
                                <option value="Reopened"
                                        {{#if_equals data.IssueStatus "Reopened" }}selected{{/if_equals}}>Reopened
                                </option>
                                <option value="Rejected"
                                        {{#if_equals data.IssueStatus "Rejected" }}selected{{/if_equals}}>Rejected
                                </option>
                            </select>
                        </div>
                    </div>

                    <!-- Priority Drop Down -->
                    <div class="form-group">
                        <label class="col-md-4 control-label">Priority</label>
                        <div class="col-md-4">
                            <select name="priority" class="form-control" title="Priority">
                                <option value="Low" {{#if_equals data.Priority "Low" }}selected{{/if_equals}}>Low
                                </option>
                                <option value="Medium" {{#if_equals data.Priority "Medium" }}selected{{/if_equals}}>
                                    Medium
                                </option>
                                <option value="High" {{#if_equals data.Priority "High" }}selected{{/if_equals}}>High
                                </option>
                                <option value="Urgent" {{#if_equals data.Priority "Urgent" }}selected{{/if_equals}}>
                                    Urgent
                                </option>
                            </select>
                        </div>
                    </div>

                    <!-- Severity Drop Down -->
                    <div class="form-group">
                        <label class="col-md-4 control-label">Severity</label>
                        <div class="col-md-4">
                            <select name="severity" class="form-control" title="Severity">
                                <option value="Low" {{#if_equals data.Severity "Low" }}selected{{/if_equals}}>Low
                                </option>
                                <option value="Moderate" {{#if_equals data.Severity "Moderate" }}selected{{/if_equals}}>
                                    Moderate
                                </option>
                                <option value="Major" {{#if_equals data.Severity "Major" }}selected{{/if_equals}}>
                                    Major
                                </option>
                                <option value="Critical" {{#if_equals data.Severity "Critical" }}selected{{/if_equals}}>
                                    Critical
                                </option>
                            </select>
                        </div>
                    </div>

                    <!-- Description Textarea -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="description">Description</label>
                        <div class="col-md-4">
                            <textarea class="form-control" id="description"
                                      name="description">{{ data.Description }}</textarea>
                        </div>
                    </div>

                    <!-- Created By -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="createdBy">Created By</label>
                        <div class="col-md-4">
                            <input type="text" value="{{ data.CreatedBy }}" id="createdBy" name="createdBy"
                                   class="form-control input-md" readonly/>
                        </div>
                    </div>

                    <!-- Created Date -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="createdDate">Created Date</label>
                        <div class="col-md-4">
                            <input type="text" value="{{ data.CreatedDate }}" id="createdDate" name="createdDate"
                                   class="form-control input-md" readonly/>
                        </div>
                    </div>

                    <!-- Last Modified By -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="lastModifiedBy">Last Modified By</label>
                        <div class="col-md-4">
                            <input type="text" value="{{ data.LastModifiedBy }}" id="lastModifiedBy"
                                   name="lastModifiedBy" class="form-control input-md" readonly/>
                        </div>
                    </div>

                    <!-- Last Modified Date -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="lastModifiedDate">Last Modified Date</label>
                        <div class="col-md-4">
                            <input type="text" value="{{ data.LastModifiedDate }}" id="lastModifiedDate"
                                   name="lastModifiedDate" class="form-control input-md" readonly/>
                        </div>
                    </div>

                    <!-- Save Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="save"></label>
                        <div class="col-md-4">
                            <button id="save" name="save" class="btn btn-primary pull-left">Save</button>
                        </div>
                    </div>


                </fieldset>
            </form>

            <form id="issueFormDelete" class="form-horizontal" method="post"
                  action="/issues/issue-delete/{{ data.Id }}">
                <!-- Delete Button-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="delete"></label>
                    <div class="col-md-4">
                        <button id="delete" name="delete" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </form>
        </div>


        <div class="tab-pane" id="1b">
            <h3>Attached Screenshots</h3>
            <table class="table table-condensed">
                <tbody>
                {{#each images}}
                    <tr>
                        <td><a href="#" class="pop"><img src="{{this.ImageFilePath}}" height="90" width="120" id="imageresource"></a></td>
                    </tr>
                {{/each}}
                </tbody>
            </table>

            <!-- Displays the screenshot in a modal -->
            <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel">Screenshot</h4>
                        </div>
                        <div class="modal-body">
                            <img src="" id="imagepreview" style="width: 400px; height: 264px;" >
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <h3>Upload an Image</h3>
            <form action="/upload" method="POST" enctype="multipart/form-data">
                Select an image to upload:
                <input type="file" name="image">
                <input type="submit" value="Upload Image">
                <input type="hidden" name="id" value="{{ data.Id}} ">
            </form>
        </div>


        <div class="tab-pane" id="1c">
            <h3>Comments</h3>
            <table class="table table-condensed">
                <tbody>
                {{#each comments}}
                    <tr>
                        <td>{{this.Comment}}</td>
                        <td>{{this.CreatedBy}}</td>
                        <td>{{this.CreatedDate}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
            </br>
            </br>

            <form id="comment" class="form-horizontal" method="post" action="/issues/issue-add-comment/{{ data.Id }}">
                <fieldset>
                    <!-- Comment Textarea -->
                    <div class="form-group">
                        <div class="col-md-4">
                            <textarea class="form-control" id="Comment" name="Comment"></textarea>
                        </div>
                    </div>

                    <!-- Save Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="comment"></label>
                        <div class="col-md-4">
                            <button id="comment" name="comment" class="btn btn-primary">Add Comment</button>
                        </div>
                    </div>
                </fieldset>
            </form>

        </div>
    </div>
</div>
