<div class="container">
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/requirements">Queued</a></li>
    <li class="active">Project {{this.projectId}}</li>
  </ol>
  <div class="row">
    <div class="col-xs-6 col-sm-3">
      <h2>Backlog</h2>
      <div class="thumbnail">
        {{#each data}}
        <a href="/requirements/project/{{this.projectId}}/{{this.storyId}}" class="thumbnail">
          {{this.title}}
        </a>
        {{/each}}
      </div>
      <a class="btn btn-success" href="/requirements/project/{{this.projectId}}/story-create">Add a Story</a>
    </div>
    <div class="col-xs-6 col-sm-3">
      <h2>Current</h2>
      <div class="thumbnail">
        <br><br><br>
      </div>
    </div>

    <!-- Add the extra clearfix for only the required viewport -->
    <div class="clearfix visible-xs-block"></div>

    <div class="col-xs-6 col-sm-3">
      <h2>Done</h2>
      <div class="thumbnail">
        <br><br><br>
      </div>
    </div>
    <div class="col-xs-6 col-sm-3">
      <h2>Release</h2>
      <div class="thumbnail">
        <br><br><br>
      </div>
    </div>
  </div>
</div>
