<div class="container">
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/queued">Queued</a></li>
    <li class="active">Project {{this.projectId}}</li>
  </ol>
  <div class="row">
    <div class="col-xs-6 col-sm-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Backlog</h3>
        </div>
        <div class="panel-body">
          {{#each data}}
          <a href="/queued/project/{{this.projectId}}/{{this.storyId}}" class="thumbnail">
            {{this.title}}
          </a>
          {{/each}}
        </div>
      </div>
      <a class="btn btn-success" href="/queued/project/{{this.projectId}}/story-create">Add a Story</a>
    </div>
    <div class="col-xs-6 col-sm-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Current</h3>
        </div>
        <div class="panel-body">
            <br><br><br><br><br>
        </div>
      </div>
    </div>

    <!-- Add the extra clearfix for only the required viewport -->
    <div class="clearfix visible-xs-block"></div>

    <div class="col-xs-6 col-sm-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Done</h3>
        </div>
        <div class="panel-body">
            <br><br><br><br><br>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Release</h3>
        </div>
        <div class="panel-body">
            <br><br><br><br><br>
        </div>
      </div>
    </div>
  </div>
</div>
