

<div class="container">
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/queued">Queued</a></li>
    <li class="active">Project: {{this.project_name}}</li>
  </ol>
  <div class="row">
    <div class="col-xs-6 col-sm-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Backlog</h3>
        </div>
        <div class="panel-body">
            <ul id="backlog_sortlist" class="connectedSortable">
                {{#each backlog}}
                    <li class="ui-state-default"><a href="/queued/project/{{this.projectId}}/{{this.storyId}}" class="thumbnail">
                        {{this.title}}</a></li>
                {{/each}}
            </ul>
        </div>
      </div>
      <a class="btn btn-success" href="/queued/project/{{this.projectId}}/story-create">Add a Story</a>
    </div>
    <div class="col-xs-6 col-sm-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Current</h3>
        </div>
        <div class="panel-body">
            <ul id="current_sortlist" class="connectedSortable">
                {{#each current}}
                    <li class="ui-state-default"><a href="/queued/project/{{this.projectId}}/{{this.storyId}}" class="thumbnail">
                        {{this.title}}</a></li>
                {{/each}}
            </ul>
        </div>
      </div>
    </div>

    <!-- Add the extra clearfix for only the required viewport -->
    <div class="clearfix visible-xs-block"></div>

    <div class="col-xs-6 col-sm-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Done</h3>
        </div>
        <div class="panel-body">
            <ul id="done_sortlist" class="connectedSortable">
                {{#each done}}
                <li class="ui-state-default"><a href="/queued/project/{{this.projectId}}/{{this.storyId}}" class="thumbnail">
                    {{this.title}}</a></li>
                {{/each}}
            </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Release</h3>
        </div>
        <div class="panel-body">
            <ul id="release_sortlist" class="connectedSortable">
                {{#each release}}
                    <li class="ui-state-default"><a href="/queued/project/{{this.projectId}}/{{this.storyId}}" class="thumbnail">
                        {{this.title}}</a></li>
                {{/each}}
            </ul>
        </div>
      </div>
    </div>
  </div>
</div>
