<div class="table-responsive">
    <form method="post" action='/queued/editProject/{{data.projectId}}'>
        <table class="table table-condensed">
            <tbody>
            <tr>
                <th>Project Name: </td>
                <td><input type="text" name="project_name" required
                           value="{{data.project_name}}"></td>
            </tr>
            <tr>
                <th>Project Description: </td>
                <td><input type="text" name="project_description" required
                           value="{{data.Description}}"></td>
            </tr>
            <tr>
                <th>Project Owner: </td>
                <td><input type="text" name="project_owner" required
                           value="{{data.owner}}" disabled></td>
            </tr>
            <tr>
                <th>Project Members:</th>
                {{#each members}}
                    <td>
                        <input type="checkbox" name="members" value="{{this}}" checked>{{this}}<br>
                    </td>
                {{/each}}
            </tr>
            </tbody>
            <tfooter>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Save" class="btn btn-success">
                        <input type="button" value="Cancel" class="btn btn-danger"
                               class="cancel" onclick="cancelAdd()">
                    </td>
                </tr>
            </tfooter>
        </table>
    </form>
</div>
