<script>
    $(function() {
        var availableTags = {{{all_users}}};
        $( "#project_owner" ).autocomplete({
            source: availableTags,
            change: function(event,ui) {
                if (ui.item == null) {
                    $("#project_owner").val('');
                    $("#project_owner").focus();
                }
            }
        });
    });
    $(function() {
        var possibleMembers = {{{possible_members}}};
        $( "#newMembers" ).autocomplete({
            source: possibleMembers,
            change: function(event,ui)
            {
                if (ui.item==null)
                {
                    $("#newMembers").val('');
                    $("#newMembers").focus();
                }
            }
        });
    });

</script>
<div id="warning">

</div>
<div class="table-responsive">
    <form method="post" action='/queued/editProject/{{data.projectId}}'>
        <table class="table table-condensed">
            <tbody>
            <tr>
                <th>Project Name: </td>
                <td><input type="text" name="project_name" required
                           value="{{data.project_name}}"></td>
            </tr>
            <tr>
                <th>Project Description: </td>
                <td><input type="text" name="project_description" required
                           value="{{data.Description}}"></td>
            </tr>
            <tr>
                <th>Project Owner: </td>
                <td>
                <td><input type="text" id ="project_owner" name="project_owner" required
                           value="{{data.owner}}"></td>

                </td>
            </tr>
            <tr id="project_members">
                <th>Project Members:</th>
                {{#each members}}
                    <td>
                        <input type="checkbox" name="members" id="{{this}}"value="{{this}}" checked>{{this}}
                    </td>
                {{/each}}
            </tr>
            <tr>
                <th>Add Members </td>
                <td>
                <td><input type="text" id ="newMembers" name="newMembers"></td>
                <td><input type="button" value="Add Member" class="btn btn-danger" onclick="AddMember()"><td>
                </td>
            </tr>
            </tbody>
            <tfooter>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Save" class="btn btn-success">
                        <input type="button" value="Cancel" class="btn btn-danger"
                               class="cancel" onclick="cancelAdd()">
                    </td>
                </tr>
            </tfooter>
        </table>
    </form>
</div>
