
<div class="container">
    <div class="row">
        <div class="panel panel-default filterable">
            <div class="panel-heading">
                <h3 class="panel-title">Projects</h3>
                <div class="pull-right">
                    <button class="btn btn-default btn-xs btn-filter"><span class="fa fa-filter"></span></button>
                </div>
            </div>
            <table class="table table-condensed">
                <thead>
                <tr class="filters">
                    <th><input type="text" class="form-control" placeholder="Project ID" disabled></th>
                    <th><input type="text" class="form-control" placeholder="Project Name" disabled></th>
                    <th><input type="text" class="form-control" placeholder="Description" disabled></th>
                    <th><input type="text" class="form-control" placeholder="Action" disabled></th>
                    <th><input type="text" class="form-control" placeholder="Owner" disabled></th>
                </tr>
                </thead>
                <tbody>
                {{#each data}}
                    <tr>
                        <td>{{this.projectId}}</td>
                        <td><a href="/requirements/project/{{this.projectId}}">{{this.project_name}}</a></td>
                        <td>{{this.Description}}</td>
                        <td><a href="/requirements/editProject/{{this.projectId}}">Edit</a></td>
                        <td>{{this.owner}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-3">
        <button class="btn btn-success btn-block" role="button" onClick="addProject();"><span class="fa fa-plus">&nbsp;</span>Create Project</button>
    </div>
</div>
