<!---
    Create Story View

    Requirement:
        - shall be able to add a new story
            - following parameters:
                - storyID
                - projectID
                - description
                - title
                - story_status
                - assignee
                - type
                - priority

        - DB Design:
        https://my.vertabelo.com/model/T7GMpn8wYb4zZbMYvIlF1Xinn4L9GrYk
!-->
<h1>Story Detail</h1>
<form id="storyForm" class="form-horizontal" method="post" action="/requirements/project/{{ data.projectId }}/{{data.storyId}}/story-update">

    <fieldset>
        <!-- Title Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="title">Title</label>
            <div class="col-md-4">
                <input type="text" value="{{ data.title }}" id="title" name="title" placeholder="title" class="form-control input-md"  required/>
            </div>
        </div>

        <!-- Priority Drop Down -->
        <div class="form-group">
            <label class="col-md-4 control-label">Priority</label>
            <div class="col-md-4">
                <select name="priority" class="form-control" title="Priority">
                    <option value="Low" {{#if_equals data.priority "Low" }}selected{{/if_equals}}>Low</option>
                    <option value="Medium" {{#if_equals data.priority "Medium" }}selected{{/if_equals}}>Medium</option>
                    <option value="High" {{#if_equals data.priority "High" }}selected{{/if_equals}}>High</option>
                    <option value="Urgent" {{#if_equals data.priority "Urgent" }}selected{{/if_equals}}>Urgent</option>
                </select>
            </div>
        </div>

        <!-- Story Status Drop Down -->
        <div class="form-group">
            <label class="col-md-4 control-label">Status</label>
            <div class="col-md-4">
                <select name="status" class="form-control" title="story_status">
                    <option value="New" {{#if_equals data.IssueStatus "New" }}selected{{/if_equals}}>New</option>
                    <option value="Assigned" {{#if_equals data.IssueStatus "Assigned" }}selected{{/if_equals}}>Assigned</option>
                    <option value="In Progress" {{#if_equals data.IssueStatus "In Progress" }}selected{{/if_equals}}>In Progress</option>
                    <option value="Deployment" {{#if_equals data.IssueStatus "Deployment" }}selected{{/if_equals}}>Deployment</option>
                    <option value="Testing" {{#if_equals data.IssueStatus "Testing" }}selected{{/if_equals}}>Testing</option>
                    <option value="Resolved" {{#if_equals data.IssueStatus "Resolved" }}selected{{/if_equals}}>Resolved</option>
                    <option value="Closed" {{#if_equals data.IssueStatus "Closed" }}selected{{/if_equals}}>Closed</option>
                    <option value="Reopened" {{#if_equals data.IssueStatus "Reopened" }}selected{{/if_equals}}>Reopened</option>
                    <option value="Rejected" {{#if_equals data.IssueStatus "Rejected" }}selected{{/if_equals}}>Rejected</option>
                </select>
            </div>
        </div>


        <!-- Description Text area -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="description">Description</label>
            <div class="col-md-4">
                <textarea class="form-control" id="description" name="description" >{{ data.description }}</textarea>
            </div>
        </div>

        <!-- Owner -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="owner">Owner</label>
            <div class="col-md-4">
                <input type="text" value="{{ data.assignee }}" id="owner" name="owner" class="form-control input-md" readonly/>
            </div>
        </div>

        <!-- Save Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="save"></label>
            <div class="col-md-4">
                <button id="save" name="save" class="btn btn-primary pull-left">Save</button>
            </div>
        </div>



    </fieldset>
</form>

<form id="storyFormDelete" class="form-horizontal" method="post" action="/requirements/project/{{ data.projectId }}/{{ data.storyId}}/story-delete">
    <!-- Delete Button-->
    <div class="form-group">
        <label class="col-md-4 control-label" for="delete"></label>
        <div class="col-md-4">
            <button id="delete" name="delete" class="btn btn-danger">Delete</button>
        </div>
    </div>
</form>
